.row
  .eight.columns
    %h2 Nutzungsbedingungen

    %p Um Inhalte auf dieser Website zu veröffentlichen, musst du dich hier anmelden. Durch deine Anmeldung erklärst du dich mit den hier genannten Bedingungen einverstanden.

    %h3 1. Deine persönlichen Daten
    %p Auf ernte-teilen.org kannst du Informationen über Initiativen und Betriebe veröffentlichen, die Solidarische Landwirtschaft betreiben. Um diese Informationen zu veröffentlichen, musst du dich mit deiner E-Mail-Adresse und deinem Namen anmelden.
    %p Wir werden deine persönlichen Daten nur im Rahmen der Anwendung ernte-teilen.org verwenden und nicht an Dritte weitergeben.

    %h3 2. Kontaktaufnahme per E-Mail
    %p Wenn du Betriebe oder Initiativen auf ernte-teilen.org einträgst, werden diese zusammen mit einem Kontaktformular veröffentlicht. Nachrichten, die über dieses Formular versendet werden, leiten wir per E-Mail an dich weiter. Optional kannst du zusätzlich eine Telefonnummer angeben, um es noch einfacher zu machen, dich zu kontaktieren. Falls du nicht kontaktiert werden möchtest, hast du die Möglichkeit, das Kontaktformular und die Anzeige der Telefonnummer zu deaktivieren.

    %h3 3. Veröffentlichung von Inhalten
    %p
      Sämtliche Inhalte auf ernte-teilen.org werden unter einer Creative-Commons-Lizenz
      %a{href: 'http://creativecommons.org/licenses/by-nc-sa/3.0/de/'} (CC-BY-SA 3.0 DE)
      veröffentlicht. Das bedeutet, dass jeder die hier veröffentlichten Informationen weiterverwenden und wiederveröffentlichen darf, wenn er dabei die in der entsprechenden Lizenz definierten Regeln einhält.

    %p Durch die Registrierung auf ernte-teilen.org erklärst du dich damit einverstanden, dass auch die von Dir eingetragenen Inhalte unter der genannten Creative-Commons-Lizenz veröffentlicht werden. Bitte veröffentliche keine Bilder und Texte, die Urheberrechte, Markenrechte, o.ä. von Dritten verletzen.
    %p Du darst keine gegen gesetzliche Bestimmungen verstoßenden, beleidigenden, bedrohenden, volksverhetzenden oder rassistischen Inhalte bei ernte-teilen.org veröffentlichen. Auch das Einstellen von Werbung, die über Informationen zu Solidarischer Landwirtschaft hinaus geht, ist nicht zulässig.
    %p Wir behalten uns das Recht vor, unzulässige Inhalte unangekündigt zu löschen.

    %h3 4. Ernte teilen ist Open Source Software
    %p
      Der Quellcode von ernte-teilen.org ist Open Source. Das bedeutet, dass ihn jeder einsehen, verbessern und unter bestimmten Umständen wiederverwenden kann. Dabei gelten die Regeln der MIT-Lizenz. Den Quellcode findest du auf
      %a{href: 'https://github.com/sjockers/teikei'} GitHub.

    %hr

    .small-print

      %h3 Das Kleingedruckte

      %p
        Die nachfolgenden Nutzungsbedingungen haben in erster Linie die Funktion, uns als Betreiber dieser Plattform rechtlich abzusichern und gegen Abmahnungen oder Klagen zu schützen. Sie sind von einem frei erhältlichen
        %a{href: 'http://www.kluge-recht.de/muster-nutzungsbedingungen-forum.php'} Muster für Nutzungsbedingungen
        in Online-Foren abgeleitet.

      %p
        Wir sind sehr daran interessiert, diese Bedingungen einfacher und freundlicher zu gestalten. Wenn du uns dabei helfen möchtest, nimm
        %a{href: '/contact'} Kontakt
        mit uns auf.

      %h4 § 1 Geltungsbereich
      %p Für die Nutzung dieser Website gelten im Verhältnis zwischen dem Nutzer und dem Betreiber der Seite (im Folgenden: Anbieter) die folgenden Nutzungsbedingungen. Die Registrierung auf ernte-teilen.org ist nur zulässig, wenn der Nutzer diese Nutzungsbedingungen akzeptiert.

      %h4 § 2 Registrierung, Teilnahme, Mitgliedschaft in der Community
      %p (1) Voraussetzung für die Veröffentlichung von Inhalten auf ernte-teilen.org ist eine vorherige Registrierung. Mit der erfolgreichen Registrierung wird der Nutzer “Mitglied” von ernte-teilen.org.
      %p (2) Es besteht kein Anspruch auf eine “Mitgliedschaft”.
      %p (3) Der Nutzer darf seinen Zugang nicht Dritten zur Nutzung überlassen. Der Nutzer ist verpflichtet, seine Zugangsdaten geheim zu halten und vor dem Zugriff Dritter zu schützen.

      %h4 § 3 Leistungen des Anbieters
      %p (1) Der Anbieter gestattet dem Nutzer, im Rahmen dieser Nutzungsbedingungen Beiträge auf seiner Webseite zu veröffentlichen. Der Anbieter stellt den Nutzern dazu im Rahmen seiner technischen und wirtschaftlichen Möglichkeiten unentgeltlich die Möglichkeit zur Verfügung, Informationen über Initiativen der Solidarischen Landwirtschaft zu veröffentlichen. Der Anbieter ist bemüht, seinen Dienst verfügbar zu halten. Der Anbieter übernimmt keine darüber hinausgehenden Leistungspflichten. Insbesondere besteht kein Anspruch des Nutzers auf eine ständige Verfügbarkeit des Dienstes.
      %p (2) Der Anbieter übernimmt keine Gewähr für die Richtigkeit, Vollständigkeit, Verlässlichkeit, Aktualität und Brauchbarkeit der bereit gestellten Inhalte.

      %h4 § 4 Haftungsausschluss
      %p (1) Schadensersatzansprüche des Nutzers sind ausgeschlossen, soweit nachfolgend nichts anderes bestimmt ist. Der vorstehende Haftungsausschluss gilt auch zugunsten der gesetzlichen Vertreter und Erfüllungsgehilfen des Anbieters, sofern der Nutzer Ansprüche gegen diese geltend macht.
      %p (2) Von dem in Absatz 1 bestimmten Haftungsausschluss ausgenommen sind Schadensersatzansprüche aufgrund einer Verletzung des Lebens, des Körpers, der Gesundheit und Schadensersatzansprüche aus der Verletzung wesentlicher Vertragspflichten. Wesentliche Vertragspflichten sind solche, deren Erfüllung zur Erreichung des Ziels des Vertrags notwendig ist. Von dem Haftungsausschluss ebenfalls ausgenommen ist die Haftung für Schäden, die auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung des Anbieters, seiner gesetzlichen Vertreter oder Erfüllungsgehilfen beruhen.

      %h4 § 5 Pflichten des Nutzers
      %p (1) Der Nutzer verpflichtet sich gegenüber dem Anbieter, keine Beiträge zu veröffentlichen, die gegen die guten Sitten oder geltendes Recht verstoßen. Der Nutzer verpflichtet sich insbesondere dazu, keine Beiträge zu veröffentlichen,

      %ul
        %li deren Veröffentlichung einen Straftatbestand erfüllt oder eine Ordnungswidrigkeit darstellt,
        %li die gegen das Urheberrecht, Markenrecht oder Wettbewerbsrecht verstoßen,
        %li die gegen das Rechtsdienstleistungsgesetz verstoßen,
        %li die beleidigenden, rassistischen, diskriminierenden oder pornographischen Inhalt haben,
        %li die Werbung für Produkte und Dienstleistungen enthalten, die nicht in direktem Zusammenhang mit Solidarischer Landwirtschaft stehen.

      %p (2) Bei einem Verstoß gegen die Verpflichtung aus Absatz 1 ist der Anbieter berechtigt, die entsprechenden Beiträge abzuändern oder zu löschen und den Zugang des Nutzers zu sperren. Der Nutzer ist verpflichtet, dem Anbieter den durch die Pflichtverletzung entstandenen Schaden zu ersetzen.
      %p (3) Der Anbieter hat das Recht, Beiträge und Inhalte zu löschen, wenn diese einen Rechtsverstoß enthalten könnten.
      %p (4) Der Anbieter hat gegen den Nutzer einen Anspruch auf Freistellung von Ansprüchen Dritter, die diese wegen der Verletzung eines Rechts durch den Nutzer geltend machen. Der Nutzer verpflichtet sich, den Anbieter bei der Abwehr derartiger Ansprüche zu unterstützen. Der Nutzer ist außerdem verpflichtet, die Kosten einer angemessenen Rechtsverteidigung des Anbieters zu tragen.

      %h4 § 6 Übertragung von Nutzungsrechten
      %p (1) Mit dem Einstellen seines Beitrags auf ernte-teilen.org veröffentlicht der Nutzer den Beitrag unter Creative-Commons-Lizenz (CC-BY-SA 3.0 DE Lizenz).
      %p (2) Das Urheberrecht für die eingestellten Beiträge verbleibt beim jeweiligen Nutzer. Der Nutzer räumt dem Anbieter mit dem Einstellen seines Beitrags auf ernte-teilen.org außerdem das Recht ein, den Beitrag dauerhaft auf seiner Webseite zum Abruf bereitzuhalten und öffentlich zugänglich zu machen. Der Anbieter hat das Recht, Beiträge innerhalb seiner Webseite zu verschieben und mit anderen Inhalten zu verbinden.
      %p (3) Der Nutzer hat gegen den Anbieter keinen Anspruch auf Löschung oder Berichtigung von ihm erstellter Beiträge.

      %h4 § 7 Beendigung der Mitgliedschaft
      %p (1) Der Nutzer kann seine Mitgliedschaft durch eine entsprechende Erklärung gegenüber dem Anbieter ohne Einhaltung einer Frist beenden. Auf Verlangen wird der Anbieter daraufhin den Zugang des Nutzers sperren.
      %p (2) Der Anbieter ist berechtigt, die Mitgliedschaft eines Nutzers unter Einhaltung einer Frist von 2 Wochen zum Monatsende zu kündigen.
      %p (3) Bei Vorliegen eines wichtigen Grundes ist der Anbieter berechtigt, den Zugang des Nutzers sofort zu sperren und die Mitgliedschaft ohne Einhaltung einer Frist zu kündigen.
      %p (4) Der Anbieter ist nach Beendigung der Mitgliedschaft berechtigt, den Zugang des Nutzers zu sperren. Der Anbieter ist berechtigt aber nicht verpflichtet, im Falle der Beendigung der Mitgliedschaft die vom Nutzer erstellten Inhalte zu löschen. Ein Anspruch des Nutzers auf Überlassung der erstellten Inhalte wird ausgeschlossen.

      %h4 § 8 Änderung oder Einstellung des Angebots
      %p (1) Der Anbieter ist berechtigt, Änderungen an seinem Dienst vorzunehmen.
      %p (2) Der Anbieter ist berechtigt, seinen Dienst unter Einhaltung einer Ankündigungsfrist von 2 Wochen zu beenden. Im Falle der Beendigung seines Dienstes ist der Anbieter berechtigt aber nicht verpflichtet, die von den Nutzern erstellten Inhalte zu löschen.

      %h4 § 9 Rechtswahl
      %p Auf die vertraglichen Beziehungen zwischen dem Anbieter und dem Nutzer findet das Recht der Bundesrepublik Deutschland Anwendung. Von dieser Rechtswahl ausgenommen sind die zwingenden Verbraucherschutzvorschriften des Landes, in dem der Nutzer seinen gewöhnlichen Aufenthalt hat.

      %hr

      %p
        %em Quelle:
        %a{href: 'http://www.kluge-recht.de/muster-nutzungsbedingungen-forum.php'} http://www.kluge-recht.de/muster-nutzungsbedingungen-forum.php (Nutzungsbedingungen Forum)

