!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Teikei"
      %meta{:content => content_for?(:description) ? yield(:description) : "Teikei", :name => "description"}
        = csrf_meta_tags
        = yield(:head)
        = stylesheet_link_tag "application", :media => "all"
  %body{:class => "#{controller_name} #{action_name}"}
    %header.container
      = yield :header
    #main.container{:role => "main"}
      = render 'layouts/messages'
      = yield
    - if content_for?(:footer)
      = yield :footer
    - else
      = render 'layouts/footer-static'

    = javascript_include_tag "application"
    = javascript_include_tag "//use.typekit.net/cuk4pxu.js"
    :javascript
      try{Typekit.load();}catch(e){}
    = yield :javascript
